@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(25deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.content {
  padding: 2rem;
}

.card-container {
  position: relative;
  color: #fff;
  width: 440px;
  height: 650px;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  backface-visibility: hidden;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.face-1 {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  transform-origin: right;
  transform: translate(0%) perspective(0px) rotateY(0deg);
}

.face-2 {
  background-image: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  transform-origin: left;
  transform: translateX(100%) perspective(1000px) rotateY(100deg);
}

.content:hover .face-1 {
  transform: translate(-100%) perspective(1000px) rotateY(-100deg);
}

.content:hover .face-2 {
  transform: translate(0%) perspective(0px) rotateY(0deg);
}

.logo {
  width: 50px;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.face-1 .top-part > h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  margin: 0.4rem 0 0.6rem;
  transform: translateZ(50px);
  transform-style: preserve-3d;
}

.shoe-info {
  display: flex;
  align-items: center;
}

.shoe-new {
  margin-right: 0.8rem;
  padding: 0.3rem 0.6rem;
  background-color: #fff;
  color: rgb(30, 35, 66);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.shoe-year {
  color: #eee;
  font-size: 1.05rem;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoe-price {
  font-weight: 400;
  font-size: 2.3rem;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 0.95;
  display: flex;
  transform: translateZ(45px);
  transform-style: preserve-3d;
}

.shoe-price span {
  font-size: 1.4rem;
  margin-right: 0.2rem;
}

.right-arrow {
  width: 35px;
  padding-top: 0.3rem;
  transform: translateZ(45px);
  transform-style: preserve-3d;
}

.right-arrow img {
  filter: invert(1);
  animation: move 0.5s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0.5rem;
  transform: translateZ(35px);
  transform-style: preserve-3d;
}

.wish {
  color: #fff;
  font-size: 1.4rem;
  transform: translateZ(30px);
  transform-style: preserve-3d;
}

.features {
  list-style: none;
  margin: 3rem 0;
  color: #eee;
  font-weight: 300;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.features li {
  margin-bottom: 0.3rem;
}

.color-wrap {
  display: flex;
  align-items: center;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.color-wrap > span {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1.3rem;
  transform: translateZ(40px);
  transform-style: preserve-3d;
}

.colors {
  display: flex;
  align-items: center;
}

.color {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.color.blue {
  background-color: #2980b9;
  border: 4.5px solid #2980b9;
}

.color.black {
  background-color: #333;
  border: 4.5px solid #333;
}

.color.white {
  background-color: #ccc;
  border: 4.5px solid #ccc;
}

.color.active {
  border: 4.5px solid #fff;
}

.color:hover {
  transform: scale(1.1);
}

.buy-wrap {
  display: flex;
  justify-content: flex-end;
}

.buy {
  display: inline-block;
  padding: 0.5rem 1.7rem;
  background-color: #2980b9;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s, opacity 0.7s !important;
  transform: translateZ(45px);
  transform-style: preserve-3d;
}

.buy i {
  font-size: 0.9rem;
}

.buy:hover {
  background-color: #2875a9;
}

.face-1 .hide {
  opacity: 1;
  transition: 0.7s;
}

.face-2 .hide {
  opacity: 0;
  transition: 0.7s;
}

.content:hover .face-1 .hide {
  opacity: 0;
}

.content:hover .face-2 .hide {
  opacity: 1;
}

.shoe-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  transform-style: preserve-3d;
  pointer-events: none;
}

.shoe-img {
  position: absolute;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%) translateZ(200px);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
  animation: float 2s alternate ease-in-out infinite;
  transition: 0.65s;
}

@keyframes float {
  0% {
    transform: translateX(calc(-45% - 5px)) translateY(calc(-55% - 5px))
      translateZ(200px);
  }

  100% {
    transform: translateX(calc(-45% + 5px)) translateY(calc(-55% + 5px))
      translateZ(400px);
  }
}

.shoe {
  transform: rotate(-30deg);
  transition: 0.6s;
}

.content:hover .shoe-img {
  width: 115%;
  top: 67%;
}

.content:hover .shoe {
  transform: rotate(-17deg);
}

@media (max-width: 550px) {
  .content {
    transform: scale(0.63);
  }
}
